body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "navbar navbar navbar navbar"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";

    gap: 10px;
    height: 120vh;
}

.nav {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-areas: "navbar" "sidebar" "main" "content1" "content2" "content3" "footer";
    }
}

.grid-container > div {
    padding-top: 2rem;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.nav {
    background:linear-gradient(to top left, rgb(59, 59, 177), rgb(58, 203, 58));
}

.sidebar {
    background: linear-gradient(to top left, rgb(145, 57, 57), rgb(85, 85, 85));
}

.main {
    background: linear-gradient(to top left, rgb(57, 145, 119), rgb(117, 172, 33));
}

.content1, .content2, .content3 {
    background: linear-gradient(to top left, rgb(57, 81, 145), rgb(55, 45, 185));
}

.footer {
    background: linear-gradient(to top left, rgb(45, 157, 77), rgb(45, 99, 77));
}